////
/// KlavoTools colors.
/// @access public
/// @group colors
/// @type Color
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

/// Used in the extenstion popup menu.
$kts-light-gray: #f0f0f0;

/// Used in the form inputs.
$kts-medium-gray: #c1c1c1;

/// Used in the extension popup menu.
$kts-dark-gray: #555;
