////
/// Reusable placeholder styles.
/// @access public
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "colors";

/// A placeholder for adding dotted bottom border to text labels.
/// Should be replaced with text-decoration-style in the future.
/// @group helpers
%dotted-underline {
  position: relative;

  &:after {
    position: absolute;
    bottom: 0.1em;
    left: 0;
    right: 0;
    height: 0;
    border-bottom: 1px dotted;
    content: "";
  }
}

/// A placeholder for creating rank-colored text labels.
/// @group helpers
%rank-label {
  $i: 1;
  @each $color in $kts-rank-colors {
    &.rank#{$i} {
      color: $color;
      $i: $i + 1;
    }
  }
}
