////
/// Global variables.
/// @access public
/// @group global
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

/// Extension popup width.
/// @type Length
$popup-width: 425px;

/// Extension popup min-height.
/// @type Length
$popup-min-height: 300px;

/// Base indent for elements in the extension popup.
/// @type Length
$popup-base-indent: 7px;

/// font-family property value for extension pages.
/// @type List
$font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

/// font-size property value for extension pages
/// @type Length
$font-size: 14px;

/// Default transition-duration and transition-timing-function properties
/// values for GUI elements.
/// @type List
$transition-settings: 0.1s linear;
