////
/// Blue skin for the site.
/// @author Vitaliy Busko
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

$skin-name: blue;
$panels-background: #bbdefb;
$panels-light-background: #e3f2fd;
$hue-rotate: 135deg;

@import "template";
