////
/// Green skin for the site.
/// @author Vitaliy Busko
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

$skin-name: green;
$panels-background: #c8e6c9;
$panels-light-background: #e8f5e9;
$hue-rotate: 70deg;

@import "template";
