////
/// Pink skin for the site.
/// @author Vitaliy Busko
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

$skin-name: pink;
$panels-background: #f8bbd0;
$panels-light-background: #fce4ec;
$hue-rotate: 270deg;

@import "template";
