////
/// Customizable template for the skin.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

$skin-name: beige !default;
$panels-background: #f8f4e6 !default;
$panels-light-background: #faf9ed !default;
$hue-rotate: 0deg !default;
$image-filter: hue-rotate($hue-rotate) !default;
$image-filter-reverse: hue-rotate(-$hue-rotate) !default;

html.skin.#{$skin-name} {
  .gamelist-create,
  #create .params,
  .columns .info {
    background-color: $panels-background;
  }
  // Override hardcoded element styles, styles with !important,
  // and styles for userscripts generated content:
  .kts-skin-panel,
  #complexity-panel,
  #counter-panel,
  #statistics,
  #gamelist.gamelist-new > div:first-of-type,
  #gamelist-active button:hover {
    background-color: $panels-light-background !important;
  }
  #top,
  #learning .hint,
  #play-right #invite,
  #params,
  #posts-list .posth:not(.admin),
  .discussing .comments-cnt:hover,
  .indexstats-block,
  .chat,
  .chat .messages {
    background-color: $panels-light-background;
  }
  #play-right #invite #friends-list,
  #topics-list .item.even td,
  #errors_text p,
  .chat .panel-btn {
    background-color: lighten($panels-light-background, 3%);
  }
  .chat .panel-btn:hover {
    background-color: lighten($panels-light-background, 5%);
  }
  #play-right #invite #friends-list,
  .chat {
    border-color: darken($panels-light-background, 5%);
  }
  #head,
  #review .ball .top,
  #review .ball .content,
  #review .portrait > div,
  #chat-title,
  #errors_tab,
  ul.trimenu li.active,
  ul.mode li.active,
  ul.left-menu li.active,
  .chat .userlist .smile-groups,
  .chat .panel-btn i {
    filter: $image-filter;
  }
  #head > div,
  #review .ball .name,
  #errors_tab a {
    filter: $image-filter-reverse;
  }
}
