.gamelist-create {
	background: #ccddff none repeat scroll 0 0 !important;
	margin-bottom: 20px !important;
}
#head {
	background: white url(%FOLDER_blue%/n2o1jHUrNy.png) repeat-x scroll 0 0 !important;
}
#params, #invite, #friends-list, .columns .right-col .info, #profile-block .right-col .comments {
	background: #ccddff none repeat scroll 0 0 !important;
}
#friends-list {
	border: 1px solid #ccddff !important;
}
.indexstats-block {
	background-color: #ccddff !important;
}
.col3 #top {
	background-color: #ccddff !important;
}
#create .params {
	background-color: #ccddff !important;
}
.highlight-btn p {
	background-color: #ccddff !important;
}
#toplist ul.mode li.active span {
	background: transparent url(%FOLDER_blue%/RgofLHCdbf.png) no-repeat scroll 100% 50% !important;
}
#toplist ul.mode li.active {
	background: #ccddff url(%FOLDER_blue%/oRx7gj2nnK.png) repeat scroll -0.5em 50% !important;
}
ul.trimenu li.active {
	background: #ccddff url(%FOLDER_blue%/tKQkcSyFSU.gif) no-repeat scroll 50% 100% !important;
}
#popconfirm .back {
	position: fixed !important;
}
.tuning ul.leftmenu li.active span {
	background: transparent url(%FOLDER_blue%/RgofLHCdbf.png) no-repeat scroll 100% 50% !important;
}
.tuning ul.leftmenu li.active {
	background: #ccddff url(%FOLDER_blue%/oRx7gj2nnK.png) repeat scroll -0.5em 50% !important;
}
.bar {
	background: transparent !important;
	 border-top: 2px dotted #ccddff !important;
}
ul.trimenu .write a {
	color: #7c3224 !important;
}
#review .ball .content {
	background: transparent url(%FOLDER_blue%/dQldZmcuT5.gif) no-repeat scroll 0 100% !important;
}
#review .ball .top {
	background: transparent url(%FOLDER_blue%/d7c7ppeLBV.gif) no-repeat scroll 0 0 !important;
}
.portrait div {
	background: transparent url(%FOLDER_blue%/main_comments.png) no-repeat scroll 0 0 !important;
}
#posts-list .posth {
	background-color: #EAEAFF !important;
}
#topics-list .item.even td {
	background: #f7f7ff none repeat scroll 0 0 !important;
}
#chat-title table .pin {
	background: transparent url(%FOLDER_blue%/chat_button.gif) no-repeat scroll 0 -34px !important;
}
#chat-title table .mostright {
	background: transparent url(%FOLDER_blue%/chat_button.gif) no-repeat scroll 0 0 !important;
}
.chat {
	background-color: #ccddff !important;
	 border-color: -moz-use-text-color #6c8d8e #6c8d8e !important;
}
#chat-title {
	color: #0E286D !important;
}
#chat-inline-placeholder .handle {
	background: transparent url(%FOLDER_blue%/chat_dd.gif) no-repeat scroll 0 0 !important;
	 left: 3px !important;
	 top: 3px !important;
}
#chat-title table .l {
	background: #6688BB none repeat scroll 0 0 !important;
}
#chat-title table .c {
	background: #6688BB none repeat scroll 0 0 !important;
}
#chat-title table .r {
	background: #6688BB none repeat scroll 0 0 !important;
}
#chat-title table .active.l {
	background: #6688BB url(%FOLDER_blue%/chat_left_active_1.gif) no-repeat scroll 0 0 !important;
}
#chat-title table .active.c {
	background: transparent url(%FOLDER_blue%/chat_center.gif) repeat-x scroll 0 0 !important;
}
#chat-title table .active.r {
	background: transparent url(%FOLDER_blue%/chat_right_active.gif) no-repeat scroll 0 0 !important;
}
#chat-title table .dummy {
	background: #6688BB none repeat scroll 0 0 !important;
}
#chat-title table .active.mostleft.l {
	background: transparent url(%FOLDER_blue%/chat_left_active_0.gif) no-repeat scroll 0 0 !important;
}
#chat-title table .mostright:hover {
	background-position: -18px 0 !important;
}
#chat-title table .pin:hover {
	background-position: -18px -34px !important;
}
#chat-title table .mostleft.l {
	background: transparent url(%FOLDER_blue%/chat_left.gif) no-repeat 0 0 !important;
}
div#gamelist .name .rang1:hover {
	color: #8d8d8d !important;
}
div#gamelist .name .rang2:hover {
	color: #4f9a97 !important;
}
div#gamelist .name .rang3:hover {
	color: #187818 !important;
}
div#gamelist .name .rang4:hover {
	color: #8c8100 !important;
}
div#gamelist .name .rang5:hover {
	color: #ba5800 !important;
}
div#gamelist .name .rang6:hover {
	color: #bc0143 !important;
}
div#gamelist .name .rang7:hover {
	color: #5e0b9e !important;
}
div#gamelist .name .rang8:hover {
	color: #00037c !important;
}
div#players .player .rang1:hover {
	color: #8d8d8d !important;
}
div#players .player .rang2:hover {
	color: #4f9a97 !important;
}
div#players .player .rang3:hover {
	color: #187818 !important;
}
div#players .player .rang4:hover {
	color: #8c8100 !important;
}
div#players .player .rang5:hover {
	color: #ba5800 !important;
}
div#players .player .rang6:hover {
	color: #bc0143 !important;
}
div#players .player .rang7:hover {
	color: #5e0b9e !important;
}
div#players .player .rang8:hover {
	color: #00037c !important;
}
#errors_text p {
	background-color: #ccddff !important;
}
#errors_tab {
	background: #ccddff url(%FOLDER_blue%/errorstab1.gif) no-repeat scroll 0 0 !important;
}
div.hidemain, #hidetop, #hidecont {
	background-color: #F7F7FF !important;
}
.quotemain {
	 background: #F7F7FF none repeat scroll 0 0 !important;
}
#params a.n:hover {
	color: #777777 !important;
}
#head .right .menu a.active {
	background-image: url(%FOLDER_blue%/QGT25nu8L8.gif) !important;
}
div#statistics {
	background-color: #CCDDFF !important;
}
div#counter-panel {
	background-color: #CCDDFF !important;
}
#profile-block .stats-mode dd {
	background: #ccddff none repeat scroll 0 0 !important;
}
#profile-block .stats-mode-tri {
	background: #ccddff url(%FOLDER_blue%/06116d587d68.png) no-repeat scroll 50% 100% !important;
}
#profile-block #rating-history {
	background-color: #f0f0ff !important;
}
#profile-block #bonuses-dl a#rating-history-link:hover {
	color: #22aa00 !important;
}
#profile-block .comments .delete {
	color: #EE3939 !important;
}
#profile-block .user-content .comments .title .post_subject:hover {
	color: #ee3939 !important;
}
#profile-block #buy-scores-link.active, #profile-block #give-scores-link.active, #profile-block #activate-premium-link.active, #profile-block #rating-history-link.active, #profile-block #auth-pass-link.active, #profile-block #auth-login-link.active {
	background-color: #f0f0ff !important;
}
#profile-block #scores-actions {
	background-color: #f0f0ff !important;
}
#profile-block #buy-scores .desc {
	color: #000080 !important;
}
#profile-block #buy-scores .desc {
	background-color: #bbbbff !important;
}
#profile-block #buy-scores .methods li.active {
	background-color: #bbbbff !important;
}
#profile-block .user-content .blog .filter s {
	background-color: #ccddff !important;
}
#content .content-col a:hover, #content .about a:hover, #posts-list table.foot td.pages a:hover, #posts-list table.list a:hover,#topics-list table.foot td.pages a:hover, #topics-list table.list a:hover, #forums-list a:hover, #profile-block .right-col .comments .comment .info .author a:hover, #footer #links a:hover, #profile-block dl.menu a:hover, #play-right a:hover, #profile-block div.user-content a:hover, #chat-content td.userlist div.userlist-content ins a:hover {
	color: #d4620e !important;
}
#profile-block .user-content .userinfo-block a.buy:hover {
	color: #22AA00 !important;
}
#profile-block .user-content .userinfo-block a.bonuses:hover {
	color: #008cc7 !important;
}
#profile-block .user-content .userinfo-block a.note:hover {
	color: #777777 !important;
}
#profile-block .user-content .comments .title a.post_subject:hover, #profile-block .right-col .comments .comment .info .author a.post_subject:hover {
	color: #000000 !important;
}
#profile-block .user-content .mail .title .delete span:hover {
	color: #bb2200 !important;
}
#content .content-col .add a:hover {
	color: #22aa00 !important;
}