////
/// Extension popup styles for the menu.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../settings";
@import "../colors";

#menu {
  > ul {
    > li {
      display: inline-block;
      position: relative;
    }
    > li > ul {
      display: none;
      position: absolute;
      top: 100%;
      background: #fff;
      white-space: nowrap;
      z-index: 2;
      box-shadow: 1px 3px 3px rgba($kts-dark-gray, 0.3);
    }
    > li:hover > ul {
      display: block;
    }
    > li.drop-left:hover > ul {
      right: 0;
    }
  }
  a {
    display: block;
    padding: $popup-base-indent;
    cursor: pointer;
    background-color: #fff;
    transition: background-color $transition-settings;
  }
  a:hover, > ul > li:hover > a {
    background-color: $kts-light-gray;
  }
  a {
    text-decoration: underline;
  }
  a.internal {
    text-decoration: none;
    > span {
      @extend %dotted-underline;
    }
  }
  li > span {
    border-bottom: 1px dotted inherit;
  }
  li.icon > a {
    $padding-icon: ($popup-base-indent * 2 + $font-size - 16px) / 2;
    padding: $padding-icon $popup-base-indent;

    > img {
      vertical-align: text-bottom;
      &:not(:only-child) {
        margin-right: 1ch;
      }
    }
  }
}
