////
/// Extension popup styles for the user search form.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../settings";
@import "../colors";

.search-user {
  > input, button {
    padding: $popup-base-indent;
    border: 1px solid $kts-medium-gray;
    border-radius: 0;
  }
  > input:focus, > button:focus {
    border-color: darken($kts-medium-gray, 10%);
  }
  > input:focus + button {
    border-left-color: darken($kts-medium-gray, 10%);
  }
  > input {
    width: 80%;
    border-width: 1px 0 1px 1px;
  }
  > button {
    width: 20%;
    background-color: $kts-light-gray;
    transition: background-color $transition-settings;
    cursor: pointer;

    &:hover {
      background-color: darken($kts-light-gray, 10%);
    }
    &:active {
      background-color: darken($kts-light-gray, 15%);
    }
  }
  .user-data {
    padding: $popup-base-indent;
    a {
      cursor: pointer;

      > img {
        vertical-align: text-bottom;
        margin-right: 2px;
      }
      > span {
        text-decoration: underline;
        &.blocked {
          text-decoration: underline line-through;
        }
      }
    }
    > a {
      @extend %rank-label;
    }
    .user-links > a {
      &:hover > img {
        -webkit-filter: contrast(25%);
        filter: contrast(25%);
      }
      &:hover {
        color: $kts-dark-gray;
      }
    }
    .hash:before {
      content: "#";
    }
  }
}
